{% extends  'base.html' %}
{% block content %}

<br/>
{% if ticker %}
    {{ ticker}}
{% endif %}
{% if api %}
    {% if api == 'Error...' %}
        There was a problem fetching stock details for your ticker symbol
    {% else %}
        <h1>{{ api.companyName }}</h1>
        <br/>
        Price: ${{api.latestPrice}}
        <br/>
        Previous Close: {{ api.previousClose }}
        <br/>
        Market Cap: {{ marketCap }} 
        <br/>
        YTD Change: {{ api.ytdChange }}
        <br/>
        52Wk High: {{ api.week52High }}
        <br/>
        52Wk Low: {{ api.week52Low }}
        
    {% endif %}
{% endif %}


{% endblock %}